html,
body,
#app {
  margin: 0;
  font-size: 1rem;
  height: 100vh;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  -webkit-user-drag: none;
  color: var(--el-color-primary);
}